@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    marquee {
        font-size: 24px;
        color: blue;
        background-color: yellow;
    }

    .phone-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }

    .phone-image {
        width: 800px;
        height: auto;
    }
</style>


<div class="phone-container">
    <img src="~/aa.png" alt="phone image" class="phone-image">
</div>
<marquee>Welcome to CarRental!</marquee>

