@model List<CarSystem.Models.car>
@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 10px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 16px;
    }
</style>

<form method="get" action="SearchByDate">
    <div class="form-group">
        <label for="startDate">Select Date:</label>
        <input type="date" name="date" class="form-control" />
    </div>
    <input type="submit" value="Search" />
</form>

@{ int c = 0; int d = 0;}
@TempData["r"]
<div class="row" style="margin-top:100px">
    @foreach (var item in Model)
    {
        c = c + 1;
        d = d + 1;
        <div class="col-sm-4">
            <div class="card">
                <img src="~/@item.Image" height="200" width="200"><div class="container">
                    <div>Car Name: @item.carName</div><div>Colour:@item.Color</div><div>Price per day: @item.RentPerDay</div>
                    @if (item.Conditioner == false)
                    {<div>
                            Conditioner: AC
                        </div>
                    }
                    else
                    {<div>Conditioner:Non- AC</div>
                    }
                    @*<div>AC or Non AC:@item.Conditioner</div>*@
                    @if (item.Fuletype == true)
                    {<div>FuelType:Petrol</div>
                    }
                    else
                    {<div>FuelType:Diesel</div>
                    }
                    @*<div>Fuel Type:@item.Fuletype</div>*@<div>Capacity:@item.capacity</div>
                    @if (item.CarStatus == true)
                    {<div>CarStatus:Available</div>
                    }
                    else
                    {<div>CarStatus:Not Available</div>
                    }
                    @*<div>Status of the Car:@item.CarStatus</div>*@<div>Vehicle Number:@item.RegistrationId</div><div>
                        @Html.ActionLink("Book Now", "Bookings", new
                        {@*cid = item.carid*@
cname = item.carName,
p = item.RentPerDay,
Condition = item.Conditioner,
Type = item.Fuletype,
image = item.Image,
Capacity = item.capacity,
registration = item.RegistrationId,
status = item.CarStatus
}, new { @class = "btn btn-primary" })
                    </div><div>                     </div>
                </div>
            </div>
        </div>}
</div>
